.img{
  width: 232px;
  height: 95px;
}
h1{
  width: 599px;
  height: 42px;
  left: 40px;
  margin:1.5rem;
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 650;
  font-size: 40px;
  line-height: 62px;
  text-align: center;
} 
h2{
  text-align: center;
  font-size: 35px;
  font-family: 'Montserrat';
}
hr{ 
  width: 1600px;
  left: 50px;
  height: 0px;
  border: 1px solid #807e7e;
  margin-top: 9px;
}
body{
  background-color: #e9e9e9;
}
.fundo{
  width: 90%;
  height: 3290px;
  left: 80px;
  background-color: #FFFFFF;
}
.quadrado{
  border: 1px solid black;
  width: 392px;
  margin-left: 100px;
  margin-top: 100px;
}
.quadro1{

  width: 392px;
  left: 76px;
  height: 250px;
  background: #FFFFFF;
  box-sizing: border-box;
}
.quadro2{
  width: 394px;
  left: 75px;
  background: #70C3FF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
ul{
  text-decoration: underline;
  font-size: 30px;
  left: 10px;
  font-family: 'Montserrat';
}
.texto-grande{
    margin-left: 100px;
    margin-top: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  
}
h3{
  width: 300px;
  left: 131px;
  margin: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 44px;
  color: #000000;
  text-align: center;
  margin-left: 10px;
  margin-top: 10;
  line-height: 54px;
  margin-left: 60px;
  

}
h4{
  width: 300px;
  height: 54px;
  left: 150px;
  margin: 1.5rem;
  margin-left: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  margin-top: -10px;
  font-weight: 100;
}
h5{

  width: 300px;
  left: 149px;
  margin:1.5rem;
  font-family: 'Montserrat';
  font-size: 44px;
  text-align: center;
  font-weight: 100;
  margin-left: 100px;

}
h6{

  width: 300px;
  left: 135px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 44px;
  color: #000000;
  text-align: center;
  margin: 1.5rem;
  margin-left: 100px;

}

  